* {
  padding: 0;
  margin: 0;
}

html, body, #fullheight {
  min-height: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black; 
}

.container {
  height: 100%;
  background-color: black;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  height: 39%;
}

.result span {
  margin-right: 60px;
  font-size: 210px;
  justify-self: flex-end;
}

.buttons {
  width: 100%;
  height: 60%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  border-radius: 100%;
  width: 210px;
  height: 210px;
  padding: 10px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.percent {
  background-color: #A5A5A5;
  border: none;
  color: black;
}

.item1 {
  background-color: #A5A5A5;
  border: none;
}

.item3 {
  background-color: #FF9F0A;
  border: none;
}

.numbers, .comma {
  background-color: #343434;
  border: none;
}

.negative, .clear {
  background-color: black;
}

.itemZero {
  background-color: #343434;
  width: 435px;
  border-radius: 135px;
  grid-column: span 2;
  border: none;
}
